@import "../core/Variables.scss";

.footer {
  background-color: $dark;
    height: 10%;
    display: flex;
    justify-content: center;
    transform: translateY(20px) translateX(-20px);
    width: 100vw;
    &__logo {
      height: 46px;
      width: 126px;
    }
    @media (min-width: 768px) {
      height: 60px;
      transform: translateY(235px) translateX(-20px);
      &__logo {
        height: 43px;
        width: 115px;
      }
    }
    @media (min-width: 1200px) {
      &__logo {
        transform: translateX(20px);
      }

    }
}