@import "../core/Variables.scss";
@import "../core/Mixins.scss";

.form {
    @include displayForm;
    width: 100%;
    gap: 20px;
  
    &__h2 {
      color: $white;
      text-align: center;
    }
    @media (min-width: 768px) {
      width: 40%;
    }
  }
  
  .askInfo {
    padding: 10px;
    text-align: center;
    color: $white;  
    &__subtitle {
      padding-bottom: 10px;
    }  
    &__line {
      width: 100%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
    }
  }
  
  .project,
  .author {
    @include displayForm;
    gap: 10px;
    border: none;
  
    &__input {
      background-color: $dark;
      border: solid 2px $white;
      border-radius: 40px;
      height: 42.72px;
      color: $white;
      padding-left: 15px;     
      // ::placeholder {
      //   color: $white;
      // }
    }
  
    &__textarea {
      background-color: $dark;
      border-color: $white;
      border-radius: 20px;
      border: solid 2px $white;
      height: 42.72px;
      color: $white;
      padding-left: 15px;
      padding-top: 10px;
      height: 110px;  
      // ::placeholder {
      //   color: $white;
      // }
    }
  }

  .buttonImg {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 10px;
  }
  
  .buttonImgCrear {
    @include buttonStyles;
    &__large {
      @include commonButton;
      width: 200px;      
      border: solid 2px $white; 
      display: flex;
      align-items: center; 
      justify-content: center;
    }
  }
  
  
.project {
    &__subtitle {
      font-size: 14px;
      text-align: center;
    }
    &__line {
      width: 100%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(1, 1, 1, 0.75),
        rgba(255, 255, 255, 0)
      );
    }
    &__title {
      font-size: 20px;
      color: $black;
      margin-bottom: 10px;
    }
    &__slogan {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__desc {
      font-size: 12px;
      margin-bottom: 10px;
    }
    &__technologies {
      background-color: lightgray;
      border-radius: 20px;
      font-size: 14px;
      padding: 10px;
      width: 70%;
    }
  }