@import "../core/Variables.scss";
@import "../core/Mixins.scss";
.twoButtons{
  background-color: $dark;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.conta{
  background-color: $dark;
  text-align: center;
}
@import "./Form.scss";

.header {
  background-color: $dark;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  &__icon {
    color: $white;
    font-size: 20px;
  }
  &__title {
    color: $white50;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 7px;
  }
  &__logo {
    height: 46px;
    width: 126px;
    @media (min-width: 768px) {
      height: 43px;
      width: 115px;
    }
  }
}

.hero {
  background-color: $dark;
  color: $white;
  @include displayForm;
  align-items: center;
  gap: 10px;
  padding: 20px;
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__text {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
  &__btn {
    height: 20px;
    width: 116px;
    text-transform: uppercase;
    font-family: $heroBtn;
    font-size: 10px;
    font-weight: bold;
    color: $white;
    background-color: $darkLilac;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__btn a{
    text-transform: uppercase;
    font-family: $heroBtn;
    font-size: 10px;
    font-weight: bold;
    color: $white;
    text-decoration: none;

  }
  @media (min-width: 768px) {
    &__title {
      font-size: 40px;
    }
    &__text {
      font-size: 18px;
    }
    &__btn {
      height: 30px;
      width: 150px;
      border-radius: 20px;
      font-size: 15px;
    }
  }
}
