@import "../core/Variables.scss";

.main {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: fit-content;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }