@import "../core/Variables.scss";
@import "../core/Mixins.scss";

.main {
    @include displayForm;
    padding-top: 50px;
    height: fit-content;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
