@import "core/reset.scss";
@import "core/variables.scss";

.container {
  background-color: $dark;
  height: 100%;
  padding: 20px;
}

.header {
  height: 15%;
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__icon {
    color: $white;
    font-size: 20px;
  }
  &__title {
    color: $white50;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 7px;
  }
  &__logo {
    height: 46px;
    width: 126px;
    @media (min-width: 768px) {
      height: 43px;
      width: 115px;
    }
  }
}

.hero {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__text {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
  &__btn {
    height: 20px;
    width: 116px;
    text-transform: uppercase;
    font-family: $heroBtn;
    font-size: 10px;
    font-weight: bold;
    color: $white;
    background-color: $darkLilac;
    border: none;
    border-radius: 10px;
  }
  @media (min-width: 768px) {
    &__title {
      font-size: 40px;
    }
    &__text {
      font-size: 18px;
    }
    &__btn {
      height: 30px;
      width: 150px;
      border-radius: 20px;
      font-size: 15px;
    }
  }
}

.footer {
  height: 10%;
  display: flex;
  justify-content: center;
  &__logo {
    height: 46px;
    width: 126px;
  }
  @media (min-width: 768px) {
    height: 60px;
    &__logo {
      height: 43px;
      width: 115px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: 75%;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.preview {
  padding: 20px;
  width: 100%;
  &__image {
    object-fit: cover;
    height: 80%;
    width: 100%;
  }
  &__author {
    background-color: $white;
    color: #3e3e3e;
    width: 40vw;
    height: 30%;
    transform: translateY(-100px) translateX(104px);
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 30px;
  }
  @media (min-width: 768px) {
    width: 60%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: $dark;
  width: 100%;

  &__h2 {
    color: $white;
    text-align: center;
  }
  @media (min-width: 768px) {
    width: 40%;
  }
}

.askInfo {
  padding: 20px;
  text-align: center;
  color: $white;

  &__subtitle {
    padding-bottom: 10px;
  }

  &__line {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }
}

.project,
.autor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;

  &__input {
    background-color: $dark;
    border-color: $white;
    border-radius: 40px;
    height: 42.72px;
    color: $white;
    padding-left: 15px;
    padding-top: 5px;

    ::placeholder {
      color: $white;
    }
  }

  &__textarea {
    background-color: $dark;
    border-color: $white;
    border-radius: 25px;
    height: 42.72px;
    color: $white;
    padding-left: 15px;
    padding-top: 5px;
    height: 110px;

    ::placeholder {
      color: $white;
    }
  }
}

.buttonImg {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 45px;

  &__btn {
    width: 160px;
    margin-top: 10px;
    color: $white;
    border: none;

    height: 43px;
    background: linear-gradient(90deg, $darkLilac -1.57%, #c0b7e8 98.43%);
    border-radius: 40px;
  }
}

.buttonImgCrear {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;

  &__large {
    width: 200px;
    margin-top: 10px;
    color: $white;
    text-align: center;
    border: none;

    height: 43px;
    background: linear-gradient(90deg, $darkLilac -1.57%, #c0b7e8 98.43%);
    border-radius: 40px;
    border: solid 2px $white;
  }
}

//.main {


.project {
  width: 60%;
  &__subtitle {
    font-size: 14px;
    text-align: center;
  }
  &__line {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(1, 1, 1, 0.75),
      rgba(255, 255, 255, 0)
    );
  }
  &__title {
    font-size: 20px;
    color: $black;
    margin-bottom: 10px;
  }
  &__slogan {
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__desc {
    font-size: 12px;
    margin-bottom: 10px;
  }
  &__technologies {
    background-color: lightgray;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px;
    width: 70%;
  }
}

.author {
  width: 40%;
  text-align: center;
  &__image {
    border-radius: 50%;
    width: 80%;
  }
  &__job {
    font-weight: bold;
    color: $black;
    font-size: 14px;
  }
  &__name {
    font-size: 16px;
  }
}

.btn-color {
  border-radius: 20px;
  width: 85px;
  height: 30px;
  font-weight: bold;
}

.btn-color-dark {
  background-color: $black;
  color: $white;
}

.card {
  color: $white;
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}
